<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<style>
table, td, th {
	text-align: center;
	padding: 2px;
}
</style>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Books</h1>
		</div>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		<table class="table table-striped">
			<tr>
				<th><h2>Author</h2></th>
				<th><h2>Title</h2></th>
				<th><h2>ISBN</h2></th>
				<th><h2>Year</h2></th>
				<th><h2>Category</h2>
				<th sec:authorize="hasRole('ADMIN')"> </th>
			</tr>  
			<tr th:each="book : ${books}">
				<td><h3 th:text="${book.author}"></h3></td>
				<td><h3 th:text="${book.title}"></h3></td>
				<td><h3 th:text="${book.isbn}"></h3></td>
				<td><h3 th:text="${book.year}"></h3></td>
				<td><h3 th:text="${book.category.name}"></h3></td>	
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
					 <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger">Delete</a></td>    		
			</tr>
		 </table>
		 <button onclick="location.href='/add'">Add Book</button>  
	</div>  
</body>
</html>